---
layout: default
---

<div class="home">
  <style>
    .post-list li {
      maring-bottom: 40px;
    }
    .post-list h2 {
      margin-bottom: 0;
    }
    .post-list li article {
      font-size: 80%;
    }
    .post-list > li + li:before {
      position: relative;
      width: 100%;
      content: '';
      height: 1px;
      background: rgba(204, 204, 204, 0.32);
      display: block;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    .post-list > li > article {
      font-size: 80%;
      max-height: 200px;
      overflow: hidden;
      background: rgba(244, 244, 244, 0.67);
      padding: 20px 10px;
    }
  </style>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>

        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% if post.tags %}
          {% for tag in post.tags %}
            <a href='{{site.baseurl}}/tags#{{ tag }}' class="post-tag">{{ tag }}</a>
          {% endfor %}
        {% endif %}

        <article>
          {{ post.excerpt | markdownify }}
        </article>

      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ site.baseurl }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
  {% endif %}

</div>
