@media print {
  body > .modal,
  body > #container,
  body > .btn,
  body > * {
    display: none;
  }
  body > #print {
    display: block;
  }


}

.print table {
  width: 100%;
}
.print table td {
  border: solid 1px #1a1a1a;
  text-align: center;
  padding: 10px;
}

.print table td .box {
  height: 15px;
width: 15px;
border: solid 1px #1a1a1a;
margin: auto;
}

.print input[type=checkbox] {
  -webkit-appearance: none;
border: solid 1px #1a1a1a;
height: 15px;
width: 15px;
vertical-align: -14%;
margin-right: 10px;
}
.print .line {
  width: 10em;
display: inline-block;
border-bottom: solid 1px;
vertical-align: text-bottom;
}
